/* variables.css */

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --text-color2: #8892b0;
    --main-color : #3c2c99;
    --darkened-color: 60, 44, 153;
  }

  /* #3c2c99*/